<div id="<%= dom_id todo %>" class="border rounded p-4 mb-4 bg-white shadow">
  <p class="font-semibold">
    <span class="text-gray-700">Title:</span>
    <%= todo.title %>
  </p>

  <p>
    <span class="text-gray-700 font-semibold">Completed:</span>
    <%= todo.completed %>
  </p>

</div>
