<% content_for :title, "Editing todo" %>

<h1 class="text-2xl font-bold mb-6">Editing todo</h1>

<%= render "form", todo: @todo %>

<div class="mt-4 space-x-2">
  <%= link_to "Show this todo", @todo, class: "text-blue-600 hover:underline" %>
  <span>|</span>
  <%= link_to "Back to todos", todos_path, class: "text-blue-600 hover:underline" %>
</div>
